@font-face {
  font-family: "Eurostile Next";
  src: url("/src/assets/fonts/EurostileNext/EurostileNextLTProRegular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eurostile Next";
  src: url("/src/assets/fonts/EurostileNext/EurostileNextLTProSmBd.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eurostile Next";
  src: url("/src/assets/fonts/EurostileNext/EurostileNextLTProBold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
