@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-valo: #00245c;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}
